.paragraph {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  color: #3b434e;
}

.small {
  font-size: 14px;
  line-height: 24px;
}

.medium {
  font-size: 16px;
  line-height: 24px;
}

.large {
  font-size: 18px;
  line-height: 29px;
}
